<footer id="footer">

    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="title"><i class="icon-envelope-alt"></i> Newsletter</h3>
                    <span class="lead">We will only send you good stuff. Promise!</span>
                </div>
                <div class="col-md-4">
                    <form class="input-group small" method="post" action="">
                        <input type="text" class="form-control" placeholder="Your Email Address" />
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button">Sign Up <i class="icon-angle-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="social-networks">
                        <a href=""><i class="icon-facebook"></i></a>
                        <a href=""><i class="icon-twitter"></i></a>
                        <a href=""><i class="icon-google-plus"></i></a>
                        <a href=""><i class="icon-linkedin"></i></a>
                        <a href=""><i class="icon-tumblr"></i></a>
                        <a href=""><i class="icon-dribbble"></i></a>
                        <a href=""><i class="icon-instagram"></i></a>
                        <a href=""><i class="icon-pinterest"></i></a>
                        <a href=""><i class="icon-youtube-play"></i></a>
                        <a href=""><i class="icon-rss"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <h6 class="title">About</h6>
                    <p>
                        We are a small team of remarkable people doing great things. The people who worked with us, leave always happy. Get to know a little bit more <a href="about">about us</a>.
                    </p>
                </div>

                <div class="col-md-4">
                    <h6 class="title">Get in Touch</h6>
                    <address>
                        <i class="icon-map-marker"></i> <a class="lightbox-iframe" href="https://maps.google.com/maps?q=Main+Street,+New+York+City,+New+York&amp;hl=en&amp;t=v&amp;hnear=Main+Street,+New+York+City,+New+York" data-toggle="tooltip" title="Show on Google Maps">Main Street, New York City, United States</a><br />
                        <i class="icon-envelope"></i> <a href="mailto:mail@yourcompany.com" data-toggle="tooltip" title="Email Us">mail@yourcompany.com</a><br />
                        <i class="icon-phone"></i> +1 555 1234 4556<br />
                    </address>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom">
        <div class="footer-copyright">
            <p>&copy; 2013 by Olin. All Rights Reserved.</p>
        </div>
    </div>

</footer>

<a href="#" id="scrollToTop">
    <i class="icon-angle-up icon-2x"></i>
</a>