<footer id="footer">

    <div class="newsletter">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="social-networks">
                        <a href=""><i class="icon-facebook"></i></a>
                        <a href=""><i class="icon-twitter"></i></a>
                        <a href=""><i class="icon-google-plus"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <h6 class="title">Контакты</h6>
                    <address>
                        <i class="icon-envelope"></i> <a href="mailto:info@muraveyweb.ru" data-toggle="tooltip" title="Email Us">info@muraveyweb.ru</a><br />
                        <i class="icon-phone"></i> +7 905 500 12 31<br />
                    </address>
                </div>
                <div class="col-md-4">
                    <h6 class="title">О сервисе</h6>
                    <p>
                        Текст о сервисе MuraveyWeb
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom">
        <div class="footer-copyright">
            <p>&copy; 2014. Все права защищены</p>
        </div>
    </div>

</footer>

<a href="#" id="scrollToTop">
    <i class="icon-angle-up icon-2x"></i>
</a>

