<div class="row section-large">
    <ul class="ad-striped">
        {%  for entity in entities if entity.getAdGroup.id == '3'  %}
            <li>
                <div class="row">
                    <div class="col-sm-4  img">
                        {% if entity.getMedia %}
                            <img src="{% path entity.getMedia, 'chess' %}" class="img-circle">
                        {% endif %}
                    </div>
                    <div class="col-sm-8 a">
                        <h2>{{ entity.title|raw('html') }}</h2>
                        <div class="lead">
                            {{ entity.text|raw('html') }}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>