<div class="row">
    {% for entity in entities if entity.getAdGroup.id == '4'  %}
        {% if loop.first %}
            <h3 class="hr2 text-center margin-base"><span>{{ entity.getAdGroup.title }}</span></h3>
        {% endif %}
    {% endfor %}
</div>
<div class="row">
    {#<h2>{{ adGroupTitle }}</h2>#}
    {#{%  for entity in ad  %}#}
    {%  for entity in entities  %}
        {% if entity.getAdGroup.id == '4'  %}
                {% if entity.getMedia %}
                    <img src="{% path entity.getMedia, 'small' %}">
                {% endif %}
                {{ entity.text|raw('html') }}
        {% endif %}
    {% endfor %}
</div>