<div class="row">
    {% for entity in entities if entity.getAdGroup.id == '4'  %}
        {% if loop.first %}
            <h1 class="text-center margin-base">{{ entity.getAdGroup.title }}</h1>
        {% endif %}
    {% endfor %}
</div>
<div class="row">
    {%  for entity in entities if entity.getAdGroup.id == '4'  %}
        {{ entity.text|raw('html') }}
    {% endfor %}
</div>