<div class="bg-l-g">
    <div class="container">
        <div class="pricing-table">
            <h1 class="text-center">Сколько это стоит?</h1>
            <div class="col-md-6">
                <p class="price-tag">22 999 р.</p>
                <p class="pricing-header">разработка web-сайта</p>
            </div>
            <div class="col-md-6">
                <p class="price-tag">от 159 р.</p>
                <p class="pricing-header">ежемесячное обслуживание </p>
            </div>
        </div>
        <h3 class="text-center">Для каждого нового web-сайта полгода обслуживания и домен в подарок</h3>
        <div class="section-base text-center">
            <a class="btn-primary btn-lg" href="/webmodules">Узнать больше</a>
            <p class="margin-large">или</p>
            <a class="btn-success btn-lg" href="/order/new">Получить бесплатно</a>
            <h3 class="margin-large">структуру вашего сайта и дизайн</h3>
        </div>
    </div>
</div>