<a href="{{ url('sonata_media_gallery_view', {'id' : gallery|sonata_urlsafeid,'slug': gallery.slug }) }}">
    {{ render(controller('AntMediaBundle:Gallery:thumb', { 'id': gallery|sonata_urlsafeid } )) }}
    <span class="type"></span>
                            <span class="portfolio-item-content">
						        <span class="header">
                                    {{ gallery.name }}
                                </span>
					        </span>
</a>