{% extends 'WebBundle::layout.html.twig' %}
{% block content %}
    <div class="page-top">
        <div class="container">
            <h1 class="page-top-header">Портфолио</h1>
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Примеры</li>
            </ol>
        </div>
    </div>
    <div class="container" id="main">
        <h4>Примеры готовых сайтов</h4>
        <div class="row">
            <ul class="portfolio columns3">
                {% for gallery in galleries %}
                    <li>
                        {{ include('WebMediaBundle:Gallery:_link_name.html.twig') }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
