<div class="section-base">
    <div class="row" id="portfolio">
        <h1 class="text-center margin-base">Как выглядит?</h1>
    </div>
    <div class="row">
        <ul class="portfolio columns3">
            {% for gallery in pagination %}
                <li class="consulting">
                    {{ include('WebMediaBundle:Gallery:_link_name.html.twig') }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>